<h3>Task One</h3>
<p>
Create a page using Angular.
The page will contain one button.
When you click on the button, the counter will begin and the page will display numbers from 1 to 100.
if the number to be displayed is a divisible of 3, then the word "Eagle" should be displayed in place of the number
if the number to be displayed is a divisible of 5, then the work "Creek" should be displayed in place of the number
if the number to be displayed is a divisible of both 3 and 5, then the words "Eagle Creek" should be displayed in place of the number.
</p>
<button (click)="onClickMe()">Click me!</button>
<li *ngFor="let n of myArray">
  {{ n }}
</li>
